<div class="columns">
    
    <div class="column">
        <div class="box">
            <!-- START -->
            <%= link_to "Feed", posts_path %>
                <h1>@<%= @user.username %></h1>
                
                <figure class="image is-128x128">
                    <img src=<%= @user.img_url %> alt=<%= @user.username %>>
                </figure>
                <p>
                    Name: <%= @user.name %><br/>
                    Bio: <%= @user.bio %>
                </p>
                <% if @current_user != @user %>
                        <% if @user.followings.include?(@current_user) %>
                            <%=button_to "Unfollow", follow_path(@user.id), method: :post  %>
                        <% else %>
                            <%= button_to "Follow", user_follows_path(@user.id)%> <br/>
                        <% end %>
                    <% else %>
                        <%= link_to "Edit my profile", edit_user_path(@current_user.id)%>    
                    <% end %>


            <div class="columns">
                <div class="column">
                    <div class="column">
                        <% if @user.followers.count > 0 %>
                        <p class="bd-notification is-info">Following:</p>
                            <% @user.followers.each do |follower| %>
                                <li class="has-text-left is-3 ">
                                <%= link_to follower.username, user_path(follower.id) %></li>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="column">
                        <% if @user.followings.count > 0 %>
                        <p class="bd-notification is-info">Followers:</p>
                            <% @user.followings.each do |following| %>
                                <li class="has-text-left"><%= link_to following.username, user_path(following.id) %></li>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- END -->
        </div>
    </div>

    <div class="column is-8">
        <div class="box">
            <!-- START -->
            <% if @user.posts.count > 0 %>
                <% @user.posts.each do |post| %>
                <!-- START OF ARTICLE -->
                <article class="media">

                        <figure class="media-left image is-64x64">
                            <img src=<%= post.user.img_url %> alt="<%= post.user.name %>">
                        </figure>

                        <div class="media-content">
                            <div class="content">
                                <strong><%= post.user.name %></strong> <small><%= post.created_at.strftime("%m-%d-%Y")%></small><br/>
                                <small><%= post.location.name %>, <%= post.location.city %></small><br/>
                                <span style="margin-left: 2%">
                                    <%= post.content %>
                                </span>
                                <br/>
                                <!-- START LIKED USERS -->
                                <small>
                                <% if post.likes.count > 0 %> 
                                    💕by <% post.liked_users.each do |user|%>
                                        <%= user.username %>
                                    <% end %>
                                <% end %>
                                </small>
                                <!-- END LIKED USERS -->
                                <br/>
                                <!-- START LIKE/UNLIKE OPTION -->
                                <small>
                                    <a>
                                        <% if post.liked_users.include?(@current_user)%>
                                            <%= link_to "Unlike", like_path(post.id), method: :delete %> 
                                        <% elsif post.user == @current_user %>
                                        <% else %>
                                            <%= link_to "Like", post_likes_path(post.id), method: :post%> 
                                        <% end %> 
                                    </a> 
                                </small>
                                <!-- END LIKE/UNLIKE OPTION -->
                                <% if post.user == @current_user %>
                                    <small>
                                        <a><%= link_to "Edit", edit_post_path(post.id)%></a> · <a><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%></a> 
                                    </small>
                                <% end %>
                            </div>
                            <% post.comments.each do |comment| %>
                            <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-64x64">
                                            <img src=<%= comment.user.img_url %> alt="<%= comment.user.name %>">
                                        </p>
                                    </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>@<%= comment.user.username %></strong>
                                            <br>
                                                <span style="margin-left: 2%">
                                                    <%= comment.content %>
                                                </span>
                                            <br>
                                            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <% end %>
                        </div>
                </article>
                <!-- END OF ARTICLE -->
                <% end %>
            <% end %>
            <!-- END -->
        </div>
    </div>

</div>