<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<h1>New Post</h1>
<hr>
<%= form_for @post do |f| %>
    <%= f.label :location %><br/>
    <%= f.collection_select :location_id, Location.all, :id, :name %><br/>
    <br/>
    <%= f.label :content %><br/>
    <%= f.text_area :content %><br/>

    <%= f.submit %>
<% end %>