<section class="section">
  <div class="content">
  <!-- Content -->
      <% if @current_user %>
          Hi <%= link_to @current_user.name, user_path(@current_user.id) %>!
          <%= link_to "Log Out", logout_path, method: :delete %>
          <%= link_to "New Post", new_post_path %>
      <% else %>
          <a class="button is-rounded is-normal" href=/login>Log in</a><br/>
          <br/>
          <a class="button is-rounded is-normal" href=/signup>Sign up</a><br/>
      <% end %>
  </div>
  <div class="content">
  <div class="box">
  <h1 class="title has-text-info" >FEED</h1>
  </div>
  </div>

  <div class="box">
  <div class="container">
    <% @posts.each do |post|%>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src= <%= post.user.img_url %> alt="Italian Trulli">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= link_to post.user.name, post_path(post.id) %></strong> <small>@<%= post.user.username %></small> <small><%= post.created_at.strftime("%m-%d-%Y")%></small>
              <br>
              <%= post.content %>
            </p>
          </div>
        </div>
        <div class="media-right">
              <div class="level-right">
                    <p class="level-item">
                    <% if post.user == @current_user %>
                      <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                          🐾
                        </a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item">
                            <%= link_to "Edit", edit_post_path(post.id)%>
                          </a>
                          <a class="navbar-item">
                            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%>
                          </a>
                        </div>
                      </div>
                      <% end %>
                    </p>
                  </div>
            </div>
      </article>
    <%end%>
  </div>
</section>