<div class="columns">
  <div class="column">
    <!-- Start -->
    <div class="box">
        <% if @current_user %>
            <span style='margin-left: 10%'>
                    <a class="is-size-7" href="/posts"> 🏠Home </a> | 
                    <a class="is-size-7" href="/posts/new"> 💻New Post </a> |
                    <span class="is-size-7"> <%= link_to "😸Profile", user_path(@current_user.id) %> |
                    <a class="is-size-7" rel="nofollow" data-method="delete" href="/logout"> 🚪Logout </a>
            </span>
        <% else %>
          <span style="margin-left: 20%">
            🐱
            <a class="is-normal" href=/login > Log in </a> or
            <a class="is-normal" href=/signup > Sign up </a>
            🐱
          </span>
        <% end %>
    </div>
    <div class="box">
      <%= render :partial => 'form' %>
    </div>
    <!-- End -->
  </div>

  <div class="column is-8">
    <!-- Start -->
    <div class="box">
    <% @posts.each do |post|%>
      <article class="media">
        <figure class="image media-left is-64x64">
            <img class="is-rounded" src= <%= post.user.img_url %> alt="<%= post.user.name %>">
        </figure>
        <div class="media-content">
          <%= link_to post_path(post.id) do %>
          <div class="content">
              <strong>
                <%= post.user.name %>
              </strong> 
              <small>
                @<%= post.user.username %>
                <br/>
                <%= post.created_at.strftime("%m-%d-%Y")%>
              </small> 
              <br>
              <span style="margin-left: 2%">
                <%= post.content %>
              </span>
          </div>
        <% end %>
        </div>
        <div class="media-right">
              <div class="level-right">
                    <p class="level-item">
                    <% if post.user == @current_user %>
                      <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                          🐾
                        </a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item">
                            <%= link_to "Edit", edit_post_path(post.id)%>
                          </a>
                          <a class="navbar-item">
                            <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%>
                          </a>
                        </div>
                      </div>
                      <% end %>
                    </p>
                  </div>
      </article>
    <%end%>
    </div>
    <!-- End -->
  </div>
</div>
    
